/* pages/Slide/Slide.module.css */
.slidePage {
    display: grid;
    height: 100vh;
    width: 100vw;
    overflow: hidden;

    /* עמודה אחת שתופסת את כל הרוחב */
    grid-template-columns: 1fr;

    /* הגדרת גובה השורות לפי הבקשה: 10% - 45% - 45% */
    grid-template-rows: 16vh 10vh 74vh;

    /* מפת האזורים החדשה */
    grid-template-areas:
        "header"
        "subtitle"
        "cards";
}

.headerArea,
.subtitleArea,
.cardsArea {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* 1. כותרת */
.headerArea {
    grid-area: header;
}

/* 2. כותרת משנה */
.subtitleArea {
    grid-area: subtitle;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 36px;
    font-weight: 800;
    margin: 0;
    line-height: 1.2rem;
    color: var(--purple);
    text-align: center;
    font-weight: bold;
    padding-right: 60px;
}

/* 3. כרטיסים */
.cardsArea {
    grid-area: cards;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
}

.cardWrapper {
    width: 45%;
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1200px) {

    /* 2. כותרת משנה */
    .subtitleArea {
        font-size: 18px;
        padding-right: 30px;
    }

}