/* pages/Slide/Slide.module.css */
.slidePage {
    display: grid;
    height: 100%;
    width: 100%;
    overflow: hidden;

    /* עמודה אחת שתופסת את כל הרוחב */
    grid-template-columns: 100%;

    /* הגדרת גובה השורות לפי הבקשה: 10% - 45% - 45% */
    grid-template-rows: 16% 30% 54%;

    /* מפת האזורים החדשה */
    grid-template-areas:
        "header"
        "cards"
        "summary";
}

.headerArea,
.summaryArea,
.cardsArea {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* 1. כותרת */
.headerArea {
    grid-area: header;
}

.header {
    background-color: rgb(7, 104, 5);
}

.cardsArea {
    background-color: rgb(216, 143, 143);
    grid-area: cards;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
}

.cardWrapper {
    width: 30%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(207, 177, 235);
}

/* 2. כותרת משנה */
.summaryArea {
    background-color: bisque;
    grid-area: summary;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    margin: 0;
    line-height: 1.2rem;
    color: var(--purple);
    text-align: center;
    font-weight: bold;
}

.summaryCardArea {
    width: 60%;
    height: 90%;
    background-color: white;
    border: 10px solid var(--purple);
    border-radius: 70px;
    box-shadow: -20px -15px 0 0 var(--purple);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.summaryImageWrapper {
    width: 90%;
    aspect-ratio: 1264 / 361;
    height: auto;
    /* margin-bottom: 2%; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.summaryImageWrapper img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border: 5px solid var(--purple);
    border-radius: 100px;
}

.summarySentenceWrapper {
    width: 80%;
    height: 30%;
    font-size: 24px;
    font-weight: bold;
    color: var(--purple);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.summarySentenceWrapper p {
    margin: 0;
    line-height: 1.5rem;
}

@media (max-width: 768px) {
    .summarySentenceWrapper {
        width: 90%;
        height: 30%;
        font-size: 12px;
        font-weight: bold;
    }

    .summarySentenceWrapper p {
        margin: 0;
        line-height: 0.8rem;
        font-style: italic;
    }

    .summaryImageWrapper img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        border: 3px solid var(--purple);
        border-radius: 40px;
    }

    .summarySentenceWrapper {
        width: 80%;
        height: 30%;
        font-weight: bold;
        color: var(--purple);
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .summaryCardArea {
        width: 60%;
        height: 90%;
        background-color: white;
        border: 5px solid var(--purple);
        border-radius: 40px;
        box-shadow: -7px -5px 0 0 var(--purple);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}