/* pages/Slide/Slide.module.css */
.slidePage {
    display: grid;
    height: 100%;
    width: 100%;
    overflow: hidden;

    /* עמודה אחת שתופסת את כל הרוחב */
    grid-template-columns: 100%;

    /* הגדרת גובה השורות לפי הבקשה: 10% - 45% - 45% */
    grid-template-rows: 16% 30% 54%;

    /* מפת האזורים החדשה */
    grid-template-areas:
        "header"
        "cards"
        "summary";
}

.headerArea,
.summaryArea,
.cardsArea {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* 1. כותרת */
.headerArea {
    grid-area: header;
}

.header {
    background-color: rgb(7, 104, 5);
}

.cardsArea {
    background-color: rgb(216, 143, 143);
    grid-area: cards;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
}

.cardWrapper {
    width: 30%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(207, 177, 235);
}

/* 2. כותרת משנה */
.summaryArea {
    background-color: bisque;
    grid-area: summary;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: 800;
    margin: 0;
    line-height: 1.2rem;
    color: var(--purple);
    text-align: center;
    font-weight: bold;
}

.summaryCardArea{
    width: 90%;
    height: 90%;
    background-color: rgb(144, 216, 144);
    display: flex;
    flex-direction: column;
    justify-content:  center;
    align-items: center;
}

.summaryImageWrapper{
    width: 80%;
    height: 50%;
    margin-bottom: 20px;
    background-color: rgb(240, 240, 240);
    display: flex;
    justify-content: center;
    align-items: center;
}

.summarySentenceWrapper{
    width: 80%;
    height: 30%;
    font-size: 24px;
    font-weight: 600;
    color: var(--dark-green);
    text-align: center;
    background-color: rgb(220, 220, 220);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 3. כרטיסים */