.strategy-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--light-purple);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.strategy-card-title{
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 10px;
    color: var(--purple);
}

.strategy-card-text {
    font-size: 16px;
    line-height: 1.4rem;
    font-weight: 500;
    color: var(--dark-gray);
    text-align: center;
}