.cardContainer {
    /* סידור כל הרכיבים אחד מתחת לשני */
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    width: 80%;
    height: 70%;
    background-color: white;
    border: 5px solid var(--green);
    border-radius: 30px;
    box-shadow: 13px 9px 0px 6px var(--green);
    animation: growCardShadow 0.6s ease-out forwards;
}

.iconArea {
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentArea {
    width: 65%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: center;
    padding-right: 20px;
    gap: 20px;
}

.title {
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--purple);
    text-align: right;
    direction: rtl;

}

.text {
    font-size: 1.2rem;
    color: var(--purple);
    text-align: right;
    direction: rtl;
    width: 90%;
}

@keyframes growCardShadow {
    from {
        box-shadow: 0 0 0 0 var(--green);
    }

    to {
        box-shadow: 13px 9px 0px 6px var(--green);
    }
}