/* pages/Slide/Slide.module.css */
.slidePage {
    display: grid;
    height: 100vh;
    width: 100vw;
    overflow: hidden;

    /* עמודה אחת שתופסת את כל הרוחב */
    grid-template-columns: 6fr 6fr 4fr;

    /* הגדרת גובה השורות לפי הבקשה: 10% - 45% - 45% */
    grid-template-rows: 16vh 10vh 50vh 24vh;

    /* מפת האזורים החדשה */
    grid-template-areas:
        "header header header"
        "subtitle subtitle subtitle"
        "cards cards label"
        "summary summary empty";
}

.headerArea,
.subtitleArea,
.cardsArea,
.labelArea,
.summaryArea {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* 1. כותרת */
.headerArea {
    grid-area: header;
}

/* 2. כותרת משנה */
/* 2. כותרת משנה */
.subtitleArea {
    grid-area: subtitle;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 24px;
    direction: rtl;
    margin: 0;
    padding-right: 20px;
}

.subtitleText {
    font-size: 2rem;
    line-height: 2.2rem;
    color: var(--purple);
    text-align: start;
    font-weight: 500;
    width: 70%;
}

.labelArea {
    grid-area: label;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 20px;
}

.labelText {
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--purple);
    direction: rtl;
    text-align: center;
    text-decoration: underline;

}

/* 3. כרטיסים */
.cardsArea {
    grid-area: cards;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
}


.cardWrapper {
    width: 49%;
    height: 98%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-10%);
}

.summaryArea {
    grid-area: summary;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.summaryCardArea {
    display: flex;
    flex-direction: column;
    height: 70%;
    width: 42%;
    font-size: 2.5rem;
    background-color: white;
    border: 6px solid var(--green);
    border-radius: 40px;
    box-shadow: 11px 10px 0px 5px var(--green);
    justify-content: center;
    align-items: flex-end;
    padding: 0 20px;
    transform: translateX(15px);
}

.summaryTitle {

    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 10px;
    direction: rtl;
    text-align: center;
}

.summaryContent {
    font-size: 1.5rem;
    font-weight: 500;
    direction: rtl;
    text-align: center;
}

.summaryAmount {
    font-size: 1.5rem;
    font-weight: 800;
    color: black;
    direction: rtl;
    text-align: center;
}

/*========================================================*/
/*=====MOBILE DESIGN========*/
/*========================================================*/
@media (max-width: 1200px) {

    /* pages/Slide/Slide.module.css */
    .slidePage {
        display: grid;
        height: 100vh;
        width: 100vw;
        overflow: hidden;

        /*Ratio: 6:6:4 - in % is 35% 35% 30%*/
        grid-template-columns: 40% 40% 20%;

        /* הגדרת גובה השורות לפי הבקשה: 10% - 45% - 45% */
        grid-template-rows: 16% 10% 50% 24%;

        /* מפת האזורים החדשה */
        grid-template-areas:
            "header header header"
            "subtitle subtitle subtitle"
            "cards cards label"
            "summary summary empty";
    }

    .headerArea,
    .subtitleArea,
    .cardsArea,
    .labelArea,
    .summaryArea {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    /* 1. כותרת */
    .headerArea {
        grid-area: header;
    }

    /* 2. כותרת משנה */
    /* 2. כותרת משנה */
    .subtitleArea {
        grid-area: subtitle;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        direction: rtl;
        margin: 0;
        padding-right: 10px;
        padding-top: 10px;

    }

    .subtitleText {
        font-size: 0.8rem;
        line-height: 1rem;
        color: var(--purple);
        text-align: start;
        font-weight: 500;
        width: 70%;
    }

    .labelArea {
        grid-area: label;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding-top: 10px;
    }

    .labelText {
        font-size: 0.9rem;
        font-weight: bold;
        color: var(--purple);
        direction: rtl;
        text-align: center;
        text-decoration: underline;

    }

    /* 3. כרטיסים */
    .cardsArea {
        grid-area: cards;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;
        align-items: center;
        overflow: hidden;
    }


    .cardWrapper {
        width: 49%;
        height: 98%;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateX(-10%);
    }

    .summaryArea {
        grid-area: summary;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .summaryCardArea {
        display: flex;
        flex-direction: column;
        height: 80%;
        width: 42%;
        font-size: 1.2rem;
        background-color: white;
        border: 3px solid var(--green);
        border-radius: 15px;
        box-shadow: 6px 4px 0px 2px var(--green);
        justify-content: center;
        align-items: flex-end;
        padding: 5px 10px;
        transform: translateX(8px);
    }

    .summaryTitle {

        font-size: 0.7rem;
        font-weight: 700;
        margin-bottom: 2px;
        direction: rtl;
        text-align: right;
    }

    .summaryContent {
        font-size: 0.7rem;
        font-weight: 500;
        direction: rtl;
        text-align: right;
    }

    .summaryAmount {
        font-size: 0.7rem;
        font-weight: 800;
        color: black;
        direction: rtl;
        text-align: right;
    }
}



/* <div className={styles.summaryArea}>
        <div className={styles.summaryCardArea}>
          <p className={styles.summaryTitle}>ציון פוטנציאל:</p>
          <p className={styles.summaryContent}>
            פוטנציאל מכירת 200 לוחות שנה ל־20 ארגונים:
          </p>
          <p className={styles.summaryAmount}>100,000 ₪ הכנסה.</p> */