.contentWrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    height: 80%;
    width: 70%;
}

.label {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 0;
    color: var(--green);
}


.contentText {
    font-size: 24px;
    text-align: right;
    direction: rtl;
    font-weight: 400;
}


.incomeWrapper, .profitWrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.incomeWrapper h3, .profitWrapper h3 {
    font-size: 24px;
    font-weight: bold;
    color: black;
    direction: rtl;
    margin-left: 5px;
}

.incomeWrapper h2, .profitWrapper h2 {
    font-size: 24px;
    text-align: center;
    padding: 5px 10px;
    background-color: var(--green);
    border-radius: 15px;
    color: white;
}

.iconWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--green);
    padding: 20px;
    border-radius: 50%;
}

.contentText {
    font-size: 24px;
    font-weight: 500;
    width: 80%;
}