.cardContainer {
    /* סידור כל הרכיבים אחד מתחת לשני */
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    width: 80%;
    height: 90%;
    background-color: white;
    border: 5px solid var(--dynamic-color);
    border-right: 15px solid var(--dynamic-color);
    border-left: 15px solid var(--dynamic-color);
    border-radius: 30px;
}

.iconArea {
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentArea {
    width: 65%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: center;
    padding-right: 20px;
    gap: 20px;
}

.title {
    font-size: 2vw;
    font-weight: bold;
    color: black;
    text-align: right;
    direction: rtl;

}

.text {
    font-size: 1.5vw;
    color: black;
    text-align: right;
    direction: rtl;
    width: 90%;
}

@keyframes growCardShadow {
    from {
        box-shadow: 0 0 0 0 var(--dynamic-color);
    }

    to {
        box-shadow: 13px 9px 0px 6px var(--dynamic-color);
    }
}

@media (max-width: 1200px) {
    .cardContainer {
        /* סידור כל הרכיבים אחד מתחת לשני */
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
        width: 80%;
        height: 90%;
        background-color: white;
        border: 3px solid var(--dynamic-color);
        border-right: 7px solid var(--dynamic-color);
        border-left: 7px solid var(--dynamic-color);
        border-radius: 15px;
        /* box-shadow: 6px 4px 0px 3px var(--green); */
        /* animation: growCardShadow 0.6s ease-out forwards; */
    }

    .iconArea {
        width: 35%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contentArea {
        width: 65%;
        height: 100%;
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        justify-content: center;
        padding-right: 10px;
        gap: 5px;
    }

    .title {
        font-weight: bold;
        color: black;
        text-align: right;
        direction: rtl;

    }

    .text {
        color: black;
        text-align: right;
        direction: rtl;
        width: 90%;
    }

    @keyframes growCardShadow {
        from {
            box-shadow: 0 0 0 0 var(--dynamic-color);
        }

        to {
            box-shadow: 6px 4px 0px 3px var(--dynamic-color);
        }
    }
}