/* pages/Slide/Slide.module.css */
.slidePage {
    display: grid;
    height: 100vh;
    width: 100vw;
    overflow: hidden;

    /* עמודה אחת שתופסת את כל הרוחב */
    grid-template-columns: 100%;

    /* הגדרת גובה השורות לפי הבקשה: 10% - 45% - 45% */
    grid-template-rows: 16% 60% 24%;

    /* מפת האזורים החדשה */
    grid-template-areas:
        "header"
        "chart"
        "cards";
}

.headerArea,
.chartArea,
.cardsArea {
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
}

/* 1. כותרת */
.headerArea {
    grid-area: header;
}

.header {
    background-color: rgb(7, 104, 5);
}

/* 2. כותרת משנה */
.chartArea {
    grid-area: chart;
    position: relative;
    z-index: 5;
    

}

/* 3. כרטיסים */
.cardsArea {
    grid-area: cards;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: flex-end;
    gap: 20px;
}


.cardWrapper {
    width: 45%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}