@keyframes growShadow {
    0% {
        box-shadow: 0px 0px 0px 0px var(--img-color);
    }

    100% {
        box-shadow: var(--offset-x) var(--offset-y) 0px var(--shadow-spread) var(--img-color);
    }
}

.imageWrapper {
    /* הגדרות גודל וצורה */
    width: var(--img-size);
    height: var(--img-size);
    border-radius: 50%;

    /* מיקום פנימי */
    display: flex;
    justify-content: center;
    align-items: center;

    /* הרצת האנימציה על הדיב עצמו */
    animation: growShadow 0.8s ease-out forwards;

    /* תיקונים קריטיים לספארי (Apple) */
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-mask-image: -webkit-radial-gradient(white, black);
}

.circularImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    /* שמירה על רדיוס גם לתמונה עצמה */
    border-radius: 50%;
}