.cardContainer {
    /* סידור כל הרכיבים אחד מתחת לשני */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    max-width: 250px;
    text-align: center;
    color: var(--card-color);
}

.imageWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.headerRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

.title {
    font-size: 24px;
    font-weight: 800;
    margin: 0;
    line-height: 1;
}

.iconWrapper {
    display: flex;
    align-items: center;
}

.contentArea {
    width: 100%;
}

.text {
    font-size: 18px;
    line-height: 1.3;
    font-weight: 400;
    color: var(--purple);
    margin: 0;
}