/* pages/Slide/Slide.module.css */
.slidePage {
    display: grid;
    height: 100vh;
    width: 100vw;
    overflow: hidden;

    /* עמודה אחת שתופסת את כל הרוחב */
    grid-template-columns: 1fr;

    /* הגדרת גובה השורות לפי הבקשה: 10% - 45% - 45% */
    grid-template-rows: 16vh 10vh 74vh;

    /* מפת האזורים החדשה */
    grid-template-areas:
        "header"
        "subtitle"
        "cards";
}

.headerArea,
.subtitleArea,
.cardsArea {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* 1. כותרת */
.headerArea {
    grid-area: header;
}

.header {
    background-color: rgb(7, 104, 5);
}

/* 2. כותרת משנה */
.subtitleArea {
    background-color: bisque;
    grid-area: subtitle;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 24px;
    direction: rtl;
    margin: 0;
    padding-right: 60px;
}

.subtitleText {
    font-size: 1.6rem;
    line-height: 2.5rem;
    color: var(--purple);
    text-align: start;
    font-weight: bold;
    width: 60%;

}

/* 3. כרטיסים */
.cardsArea {
    background-color: rgb(216, 143, 143);
    grid-area: cards;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
}

.cardWrapper {
    width: 95%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(207, 177, 235);
}