/* pages/Slide/Slide.module.css */
.slidePage {
    display: grid;
    height: 100vh;
    width: 100vw;
    overflow: hidden;

    grid-template-columns: 100%;

    /* הגדרת גובה השורות לפי הבקשה: 10% - 45% - 45% */
    grid-template-rows: 16% 10% 74%;

    /* מפת האזורים החדשה */
    grid-template-areas:
        "header"
        "subtitle"
        "cards";
}

.headerArea,
.subtitleArea,
.cardsArea {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* 1. כותרת */
.headerArea {
    grid-area: header;
}


/* 2. כותרת משנה */
.subtitleArea {
    grid-area: subtitle;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 24px;
    direction: rtl;
    margin: 0;
    padding-right: 60px;
}

.subtitleText {
    font-size: 2rem;
    color: var(--purple);
    text-align: right;
    font-weight: bold;
    width: 70%;

}

/* 3. כרטיסים */
.cardsArea {
    grid-area: cards;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
}

.cardWrapper {
    width: 95%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.firstCard {
    margin-right: -20%;
}

.secondCard {
    margin-right: -5%;
}

.thirdCard {
    margin-right: 10%;
}

/*======================================*/
/*MOBILE DESIGN*/
/*======================================*/
@media (max-width: 768px) {

    /* pages/Slide/Slide.module.css */
    .slidePage {
        display: grid;
        height: 100vh;
        width: 100vw;
        /* overflow: hidden; */

        grid-template-columns: 100%;

        grid-template-rows: 16% 10% 74%;

        /* מפת האזורים החדשה */
        grid-template-areas:
            "header"
            "subtitle"
            "cards";
    }

    .headerArea,
    .subtitleArea,
    .cardsArea {
        width: 100%;
        height: 100%;
        /* overflow: hidden; */
    }

    /* 1. כותרת */
    .headerArea {
        grid-area: header;
    }


    /* 2. כותרת משנה */
    .subtitleArea {
        grid-area: subtitle;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        justify-content: flex-start;
        font-size: 12px;
        direction: rtl;
        margin: 0;
        padding-right: 30px;
        font-size: 1rem;
        font-weight: bold;
        width: 100%;

    }

    .subtitleText {
        font-size: 0.8rem;
        color: var(--purple);
        text-align: right;
        font-weight: bold;
        width: 90%;
        display: flex;
        justify-content: center;
    }



    /* 3. כרטיסים */
    .cardsArea {
        grid-area: cards;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        overflow: hidden;
    }

    .cardWrapper {
        width: 95%;
        height: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .firstCard {
        margin-right: -20%;
    }

    .secondCard {
        margin-right: -5%;
    }

    .thirdCard {
        margin-right: 10%;
    }
}