/* DuelBorderCard.module.css */

.cardContainer {
  /* 1. קבלת ערכים דינמיים מהמשתנים */
  width: var(--card-width);
  min-width: var(--card-width);
  min-height: var(--card-height);
  background-color: var(--card-bg);
  color: var(--card-color);

  /* 2. הגדרת המסגרת והצללית לפי הצבע והמיקום */
  border: 5px solid var(--card-color);
  box-shadow: var(--offset-x) var(--offset-y) 0px 1px var(--card-color);

  /* 3. עיצוב קבוע (לא משתנה) */
  border-radius: 30px;
  padding: 20px 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  box-sizing: border-box;
}