.container {
    background-color: #f0f2f5;
    /* צבע רקע כללי בהיר */
    width: 100%;
    height: 100%;
    /* ממלא את ה-80px של הגריד */
    display: flex;
    justify-content: center;
    /* מצמיד את הכותרת לימין */
    align-items: center;
    /* מיישר לגובה */
    padding-left: 20px;
    /* רווח קטן מהקצה */
    overflow: hidden;
    /* מונע חריגה אם השיפוע יוצא מהגבול */
}