/* components/HeaderBlock/HeaderBlock.module.css */
.container {
    background-color: #ffffff;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-right: 20px;
    /* רווח ללוגו מהקצה */
    overflow: hidden;
    /* חותך את מה שיוצא מהגבולות (השפיץ השמאלי) */
}

.logo {
    height: 80%;
    object-fit: contain;
}