/* components/HeaderBlock/HeaderBlock.module.css */
.container {
    background-color: #2c3e50;
    /* כחול כהה */
    color: white;
    height: 100%;
    /* תמיד ימלא את המקום שיתנו לו */
    display: flex;
    align-items: center;
    justify-content: center;
}