/* pages/Slide/Slide.module.css */
.slidePage {
    display: grid;
    height: 100vh;
    width: 100vw;
    overflow: hidden;

    /* עמודה אחת שתופסת את כל הרוחב */
    grid-template-columns: 4fr 6fr;

    /* הגדרת גובה השורות לפי הבקשה: 10% - 45% - 45% */
    grid-template-rows: 16vh 84vh;

    /* מפת האזורים החדשה */
    grid-template-areas:
        "header header"
        "image cards";
}

.headerArea,
.imageArea,
.cardsArea {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* 1. כותרת */
.headerArea {
    grid-area: header;
}

.header {
    background-color: rgb(7, 104, 5);
}

/* 2. כותרת משנה */
.imageArea {
    background-color: bisque;
    grid-area: image;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 36px;
    font-weight: 800;
    margin: 0;
    line-height: 1.2rem;
    color: var(--purple);
    text-align: center;
    font-weight: bold;
    padding-right: 60px;
}

/* 3. כרטיסים */
.cardsArea {
    grid-area: cards;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
}


.modelCardWrapper {
    width: 80%;
    height: 40%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;  
    align-items: center;
    border-radius: 30px;
    border: 7px solid var(--purple);
    box-shadow: 14px 14px 0px 3px var(--purple);
}

.contentWrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    height: 80%;
    width: 70%;
}


.label {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 0;
    color: var(--purple);
}


.contentText {
    font-size: 24px;
    text-align: right;
    direction: rtl;
    font-weight: 400;

}

.iconWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--purple);
    padding: 10px;
    border-radius: 50%;
}

.contentText {
    font-size: 24px;
    font-weight: 500;
}

.potencialCardWrapper {
    width: 80%;
    height: 40%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    border-radius: 30px;
    border: 7px solid var(--green);
    box-shadow: 14px 14px 0px 3px var(--green);
}