/* pages/Slide/Slide.module.css */
.slidePage {
    display: grid;
    height: 100vh;
    width: 100vw;
    overflow: hidden;

    /* עמודה אחת שתופסת את כל הרוחב */
    grid-template-columns: 100%;

    /* הגדרת גובה השורות לפי הבקשה: 10% - 45% - 45% */
    grid-template-rows: 16% 84%;

    /* מפת האזורים החדשה */
    grid-template-areas:
        "header"
        "cards";
}

.headerArea,
.subtitleArea,
.cardsArea {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* 1. כותרת */
.headerArea {
    grid-area: header;
}


/* 3. כרטיסים */
.cardsArea {
    grid-area: cards;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
}


.cardWrapper {
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* @media (max-width: 768px) {
    .cardsArea {
        grid-area: cards;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        overflow: hidden;
    }


    .cardWrapper {
        width: 45%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
} */