/* שינינו את השם כדי שיתאים ל-styles.modalOverlay */
.modalOverlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
    z-index: 9999;
    /* חשוב מאוד כדי שיעלה מעל הכל */
}

/* שינינו ל-modalWindow */
.modalWindow {
    background: #fff;
    border-radius: 20px;
    /* max-width: 500px; */
    width: 50%;
    padding: 10px;
    position: relative;
    animation: slide-down 0.5s ease;
    cursor: auto;
    /* מחזיר את הסמן לרגיל */
}

/* שינינו ל-closeButtonContainer */
.closeButtonContainer {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
}


@keyframes slide-down {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@media (max-width: 1000px) {
    .modalWindow {
        width: 85%;
        max-height: 80vh;
        overflow-y: auto;
    }
}