/* pages/Slide/Slide.module.css */
.slidePage {
    display: grid;
    height: 100vh;
    width: 100vw;
    overflow: hidden;

    /* עמודה אחת שתופסת את כל הרוחב */
    grid-template-columns: 80% 20%;

    /* הגדרת גובה השורות לפי הבקשה: 10% - 45% - 45% */
    grid-template-rows: 16% 84%;

    /* מפת האזורים החדשה */
    grid-template-areas:
        "header header"
        "chart year";
}

.headerArea,
.chartArea,
.yearArea {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* 1. כותרת */
.headerArea {
    grid-area: header;
}

.header {
    background-color: rgb(7, 104, 5);
}

/* 2. כותרת משנה */
.chartArea {
    background-color: bisque;
    grid-area: chart;
}

/* 3. כרטיסים */
.yearArea {
    background-color: rgb(216, 143, 143);
    grid-area: year;
}

.year{
    font-size: 36px;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*year for mobile*/
@media (max-width: 768px) {
    .year{
        font-size: 15px;
    }
}

