/* pages/Slide/Slide.module.css */
.slidePage {
    display: grid;
    height: 100vh;
    width: 100vw;
    overflow: hidden;

    /* עמודה אחת שתופסת את כל הרוחב */
    grid-template-columns: 80% 20%;

    /* הגדרת גובה השורות לפי הבקשה: 10% - 45% - 45% */
    grid-template-rows: 16% 84%;

    /* מפת האזורים החדשה */
    grid-template-areas:
        "header header"
        "chart year";
}

.headerArea,
.chartArea,
.yearArea {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* 1. כותרת */
.headerArea {
    grid-area: header;
}

.header {
    background-color: rgb(7, 104, 5);
}

/* 2. כותרת משנה */
.chartArea {
    background-color: bisque;
    grid-area: chart;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 5%;
    padding-bottom: 5%;
}

.chartWrapper {
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(22, 94, 196);
}

.income {
    height: 100%;
    width: 25%;
    background-color: greenyellow;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.incomeStick {
    width: 90%;
    height: 100%;
    border-radius: 15px;
    background-color: var(--purple);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5%;
    gap: 5%;
}

.incomeLabel {
    font-size: 2rem;
    font-weight: 600;
    color: white;
}

.incomeIcon {
    width: 50%;
    height: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

.expenses {
    height: 100%;
    width: 25%;
    background-color: rgb(229, 21, 21);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
}

.expensesStick1 {
    width: 90%;
    height: 20%;
    background-color: rgb(188, 188, 188);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.expensesStick2 {
    width: 90%;
    height: 20%;
    background-color: rgb(188, 188, 188);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.profit {
    height: 100%;
    width: 25%;
    background-color: rgb(255, 0, 157);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.profitStick {
    width: 90%;
    height: 60%;
    background-color: white;
    border-radius: 15px;
    background-color: var(--green);
}

/* 3. כרטיסים */
.yearArea {
    background-color: rgb(216, 143, 143);
    grid-area: year;
}

.year {
    font-size: 36px;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*year for mobile*/
@media (max-width: 768px) {
    .year {
        font-size: 15px;
    }

    .incomeLabel {
        font-size: 14px;
    }
}