.cardContainer {
    /* סידור כל הרכיבים אחד מתחת לשני */
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    max-width: 360px;
    text-align: center;
    color: var(--card-color);
}

.imageWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.circularImage {
    width: 240px;
    height: 240px;
    box-shadow: 0px 0px 0px 0px var(--purple);
    border-radius: 50%;
    object-fit: cover;
    display: block;
    animation: growShadow 1s ease-in-out forwards;
}

.headerRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

.title {
    font-size: 36px;
    font-weight: 800;
    margin: 0;
    line-height: 1;
    color: var(--purple)
}

.iconWrapper {
    display: flex;
    align-items: center;
    --icon-size: 40px;
}

.contentArea {
    width: 100%;
}

.text {
    font-size: 24px;
    line-height: 1.3;
    font-weight: 400;
    color: var(--purple);
    margin: 0;
}

@keyframes growShadow {
    0% {
        box-shadow: 0px 0px 0px 0px var(--purple);
    }

    100% {
        box-shadow: -5px -5px 0px 10px var(--purple);
    }
}

@media (max-width: 1200px) {
    .cardContainer {

        /* סידור כל הרכיבים אחד מתחת לשני */
        display: flex;
        height: 100%;
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 8px;

        max-width: 180px;
        text-align: center;
        color: var(--card-color);
    }

    .imageWrapper {
        width: 100%;
        display: flex;
        justify-content: center;
    }


    .circularImage {
        width: 100px;
        height: 100px;
        box-shadow: 0px 0px 0px 0px var(--purple);
        border-radius: 50%;
        object-fit: cover;
        display: block;
        animation: growShadow 1s ease-in-out forwards;
    }

    .headerRow {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 5px;
        width: 100%;
    }

    .title {
        font-size: 18px;
        font-weight: 800;
        margin: 0;
        line-height: 1;
    }

    .iconWrapper {
        display: flex;
        align-items: center;
        --icon-size: 20px;
    }

    .contentArea {
        width: 100%;
    }

    .text {
        font-size: 12px;
        line-height: 1.3;
        font-weight: 400;
        color: var(--purple);
        margin: 0;
    }

    @keyframes growShadow {
        0% {
            box-shadow: 0px 0px 0px 0px var(--purple);
        }

        100% {
            box-shadow: 3px 3px 0px 5px var(--purple);
        }
    }
}