.cardWrapper {
    width: 30%;
    height: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
    border: 7px solid var(--green);
    box-sizing: border-box;
    box-shadow: 11px 11px 0 0 var(--green);
    align-self: center;
}

.iconWrapper {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 20%;
}

.contentWrapper {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    box-sizing: border-box;
    position: relative;
    z-index: 10;
    padding-right: 10%;
}

.title {
    font-size: 2rem;
    font-weight: bold;
    color: var(--purple);
    margin: 0;
    padding: 0;
    text-align: right;
    white-space: nowrap;
}

.content {
    font-size: 2rem;
    font-weight: bold;
    color: var(--purple);
    margin: 0;
    padding: 0;
    text-align: right;
    direction: rtl;
    white-space: nowrap;

}

@media (max-width: 1200px) {
    .cardWrapper {
        width: 30%;
        height: 70%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 15px;
        border: 3px solid var(--green);
        box-sizing: border-box;
        box-shadow: 5px 5px 0 0 var(--green);
        align-self: center;
    }

    .iconWrapper {
        width: 60%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 5%;
    }

    .contentWrapper {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        box-sizing: border-box;
        position: relative;
        z-index: 10;
        padding-right: 10%;
    }

    .title {
        font-size: 0.9rem;
        font-weight: bold;
        color: var(--purple);
        margin: 0;
        padding: 0;
        text-align: right;
    }

    .content {
        font-size: 0.9rem;
        font-weight: bold;
        color: var(--purple);
        margin: 0;
        padding: 0;
        text-align: right;
    }

}