.holidayCard {
    width: 100%;
    height: 70%;
    background-color: white;
    border: 5px solid var(--green);
    border-radius: 30px;
    box-shadow: 11px 11px 0px 3px var(--green);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    animation: expandCardShadow 0.8s ease-out forwards;
}

.holidayImage {
    width: 32%;
    height: 130%;
    border-radius: 50%;
    object-fit: cover;
    flex-shrink: 0;
    /* box-shadow: 0 0 0px 15px rgb(72, 156, 167); */
    margin-left: 35px;
    animation: growImageAndShadow 0.9s ease-out forwards;
    animation-delay: 0.1s;
    transform: scale(0);

}

.content {
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-right: 20px;
    gap: 5px;
}

.title {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--purple);
    margin-bottom: 10px;
}

.revenue {
    font-size: 1.7rem;
    font-weight: 600;
    color: var(--purple);
    direction: rtl;
    text-align: start;

}

.revenue strong {
    font-size: 2rem;
    font-weight: 700;
}

.destination {
    font-size: 1.7rem;
    font-weight: 500;
    color: var(--purple);
}

/* הגדרת האנימציה */
@keyframes growImageAndShadow {
    0% {
        transform: scale(0);
        /* התמונה מתחילה בגודל 0 */
        box-shadow: 0 0 0 0 rgba(72, 156, 167, 0);
        /* אין צל */
    }

    70% {
        transform: scale(1);
        /* התמונה מגיעה לגודל המקורי */
        box-shadow: 0 0 0 0 rgba(72, 156, 167, 0);
        /* עדיין אין צל בשלב הזה */
    }

    100% {
        transform: scale(1);
        /* הצל מתרחב לגודל הסופי שלו */
        box-shadow: 0 0 0px 15px rgb(72, 156, 167);
    }
}

@keyframes expandCardShadow {
    0% {
        box-shadow: 0 0 0 0 var(--green);
        /* מתחיל ללא צל */
    }

    100% {
        box-shadow: 11px 11px 0px 3px var(--green);
        /* נפתח לצל המלא */
    }
}


@media (max-width: 768px) {
    .holidayCard {
        width: 100%;
        height: 70%;
        background-color: white;
        border: 3px solid var(--green);
        border-radius: 20px;
        box-shadow: 6px 6px 0px 2px var(--green);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        animation: expandCardShadow 0.8s ease-out forwards;
    }

    .holidayImage {
        width: 35%;
        height: 125%;
        border-radius: 50%;
        object-fit: cover;
        flex-shrink: 0;
        box-shadow: 0 0 0px 8px rgb(72, 156, 167);
        margin-left: 10px;
        animation: growImageAndShadow 0.9s ease-out forwards;
        animation-delay: 0.1s;
        transform: scale(0);

    }

    .content {
        width: 65%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        padding-right: 10px;
        gap: 2px;
    }

    .title {
        font-size: 1rem;
        font-weight: bold;
        color: var(--purple);
        margin-bottom: 5px;
    }

    .revenue {
        font-size: 0.8rem;
        font-weight: 600;
        color: var(--purple);
        direction: rtl;
        text-align: start;

    }

    .revenue strong {
        font-size: 0.8rem;
        font-weight: 700;
    }

    .destination {
        font-size: 0.8rem;
        font-weight: 500;
        color: var(--purple);
    }

    /* הגדרת האנימציה */
    @keyframes growImageAndShadow {
        0% {
            transform: scale(0);
            /* התמונה מתחילה בגודל 0 */
            box-shadow: 0 0 0 0 rgba(72, 156, 167, 0);
            /* אין צל */
        }

        70% {
            transform: scale(1);
            /* התמונה מגיעה לגודל המקורי */
            box-shadow: 0 0 0 0 rgba(72, 156, 167, 0);
            /* עדיין אין צל בשלב הזה */
        }

        100% {
            transform: scale(1);
            /* הצל מתרחב לגודל הסופי שלו */
            box-shadow: 0 0 0px 8px rgb(72, 156, 167);
        }
    }

    @keyframes expandCardShadow {
        0% {
            box-shadow: 0 0 0 0 var(--green);
            /* מתחיל ללא צל */
        }

        100% {
            box-shadow: 6px 6px 0px 3px var(--green);
            /* נפתח לצל המלא */
        }
    }
}