.slidePage {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    overflow: hidden;
}

/* קבוצה עבור התמונות בצד שמאל */
.leftImagesGroup {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    /* תופס את החצי השמאלי של המסך */
    height: 60%;
    pointer-events: none;
    background: rgba(0, 0, 255, 0.377);
    display: flex;
    flex-direction: row;
    /* justify-content: center;
    align-items: center; */
}

/* --- התמונה הבינונית (נשים צוחקות) --- */
.mediumImageWrapper {
    position: absolute;
    width: 20%;
    height: auto;

}


/* --- התמונה הקטנה (גברים במטבח) --- */
.smallImageWrapper {
    position: absolute;
    width: 20%;
    height: auto;
    /* left: -2vw; */
    /* חורג קצת שמאלה החוצה מהמסך */
    /* bottom: 5vh; */
    /* נמוך מאוד */
    z-index: 2;
    /* שכבה עליונה - עולה על הבינונית */
}

/* --- התאמה למובייל --- */
@media (max-width: 768px) {
    /* .mediumImageWrapper {
        width: 30vw;
        height: 30vw;
        left: 10vw;
        bottom: 15vh;
    }

    .smallImageWrapper {
        width: 35vw;
        height: 35vw;
        left: -5vw;
        bottom: 2vh;
    } */
}