.cardContainer {
    width: 95%;
    height: 95%;
    background-color: white;
    display: grid;

    grid-template-columns: 40% 50% 10%;
    grid-template-rows: 30% 35% 35%;

    grid-template-areas:
        "image title icon"
        "image content empty"
        "image summary empty";
}

.imageArea {
    grid-area: image;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}

.squareContent {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 15px;
}

.titleArea {
    grid-area: title;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: end;
    background-color: rgb(255, 255, 255);
}

.titleArea h2 {
    /* שימוש בצבע הדינמי */
    color: var(--card-color);
    font-size: 28px;
    font-weight: 800;
    margin: 0;
    text-align: center;
    direction: rtl;
}

.contentArea {
    grid-area: content;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    background-color: rgb(255, 255, 255);
}

.contentArea p {
    font-size: 24px;
    line-height: 1.3;
    font-weight: 400;
    /* שימוש בצבע הדינמי */
    color: var(--card-color);
    margin: 0;
    text-align: right;
    direction: rtl;
}

.summaryArea {
    grid-area: summary;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-bottom: 10px;
}

.summary {
    /* שימוש בצבע הדינמי לרקע */
    background-color: var(--card-color);
    color: white;
    padding: 8px 12px;
    border-radius: 8px;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 600;
    margin: 0;
    text-align: center;
    direction: rtl;
}

.iconArea {
    grid-area: icon;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: rgb(255, 255, 255);
}