/* pages/Slide/Slide.module.css */
.slidePage {
    display: grid;
    height: 100vh;
    width: 100vw;
    overflow: hidden;

    /* עמודה אחת שתופסת את כל הרוחב */
    grid-template-columns: 100%;

    /* הגדרת גובה השורות לפי הבקשה: 10% - 45% - 45% */
    grid-template-rows: 16% 35% 49%;

    /* מפת האזורים החדשה */
    grid-template-areas:
        "header"
        "middle"
        "bottom";
}

.headerArea,
.middleArea,
.bottomArea {
    width: 100%;
    height: 100%;

}

/* 1. כותרת */
.headerArea {
    grid-area: header;
}


/* 2. אמצע */
.middleArea {
    grid-area: middle;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
    /* למנוע גלילה אם לא צריך */
}

.bottomArea {
    grid-area: bottom;
}

/* --- עיצובים פנימיים שנשמרו --- */

.visionCardWrapper {
    display: flex;
    padding: 20px;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
    width: 100%;
}


.visionCardWrapper {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow: hidden;
}


@media (max-width: 1200px) {
    .visionCardWrapper {
        display: flex;
        padding: 3px;
        flex-direction: row;
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: center;
        height: 100%;
        width: 100%;
    }


    .visionCardWrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        /* overflow: hidden; */
    }
}


/*==========================================================*/
/*==========================================================*/
.exposurePopupContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
    direction: rtl;
    text-align: right;
    color: #333333;
}

.popupTitle {
    font-size: 24px;
    font-weight: 700;
    color: #4b2c85;
    /* צבע סגול המזוהה עם שק"ל לפי המצגת */
    margin: 0;
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
}

.popupText {
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
}

.sourceBox {
    margin-top: 12px;
    padding: 12px;
    background-color: #f8f9fa;
    border-right: 4px solid #4b2c85;
    /* פס צבע בצד ימין להדגשה */
    font-size: 14px;
    color: #666;
    border-radius: 4px;
}

.sourceLabel {
    font-weight: bold;
    margin-left: 5px;
    color: #000;
}