/* pages/Slide/Slide.module.css */
.slidePage {
    display: grid;
    height: 100vh;
    width: 100vw;
    overflow: hidden;

    /* עמודה אחת שתופסת את כל הרוחב */
    grid-template-columns: 1fr;

    /* הגדרת גובה השורות לפי הבקשה: 10% - 45% - 45% */
    grid-template-rows: 16vh 35vh 49vh;

    /* מפת האזורים החדשה */
    grid-template-areas:
        "header"
        "middle"
        "bottom";
}

.headerArea,
.middleArea,
.bottomArea {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* 1. כותרת */
.headerArea {
    grid-area: header;
}


/* 2. אמצע */
.middleArea {
    grid-area: middle;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* למנוע גלילה אם לא צריך */
}

.bottomArea {
    grid-area: bottom;
}

/* --- עיצובים פנימיים שנשמרו --- */

.visionCardWrapper {
    display: flex;
    padding: 20px ;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
    width: 100%;
}


.visionCardWrapper {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow: hidden;
}