.icon-wrapper {
    width: 80px;
    height: 80px;
    object-fit: contain;
}

.card-title {
    font-size: 24px;
    font-weight: 800;
    margin: 0;
}

.card-text {
    font-size: 18px;
    line-height: 1.2rem;
    font-weight: 500;
    opacity: 0.9;
    margin: 0;
    text-align: center;
}

.mountains-icon {
    width: 100%;
    height: 100%;
    fill: var(--purple);
    /* צבע האייקון */
}