.slidePage {
    display: grid;
    height: 100vh;
    width: 100vw;
    overflow: hidden;

    /* עמודה אחת שתופסת את כל הרוחב */
    grid-template-columns: 1fr;

    /* הגדרת גובה השורות לפי הבקשה: 10% - 45% - 45% */
    grid-template-rows: 16vh 15vh 69vh;
    /* מפת האזורים החדשה */
    grid-template-areas:
        "header"
        "titles"
        "cards";
}

.headerArea,
.titlesArea,
.cardsArea {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* 1. כותרת */
.headerArea {
    grid-area: header;
}


/* 2. כותרת משנה */
.titlesArea {
    grid-area: titles;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "title1 title2";
}

.title1Area {
    grid-area: title1;
    height: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: end;
    padding-right: 50px;
    color: var(--purple);
    font-weight: bold;
    font-size: 1.5rem;
}

.title2Area {
    grid-area: title2;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: end;
    padding-right: 80px;
    color: var(--purple);
    font-weight: bold;
    font-size: 1.5rem;
}

/* 3. כרטיסים */
.cardsArea {
    grid-area: cards;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
}


.cardWrapper {
    width: 45%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
   .slidePage {
    display: grid;
    height: 100%;
    width: 100%;
    overflow: hidden;

    /* עמודה אחת שתופסת את כל הרוחב */
    grid-template-columns: 100%;

    /* הגדרת גובה השורות לפי הבקשה: 10% - 45% - 45% */
    grid-template-rows: 16% 15% 69%;
    /* מפת האזורים החדשה */
    grid-template-areas:
        "header"
        "titles"
        "cards";
}

.headerArea,
.titlesArea,
.cardsArea {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* 1. כותרת */
.headerArea {
    grid-area: header;
}


/* 2. כותרת משנה */
.titlesArea {
    grid-area: titles;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    grid-template-areas: "title1 title2";
}

.title1Area {
    grid-area: title1;
    height: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: end;
    padding-right: 20px;
    color: var(--purple);
    font-weight: bold;
    font-size: 1rem;
}

.title2Area {
    grid-area: title2;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: end;
    padding-right: 30px;
    color: var(--purple);
    font-weight: bold;
    font-size: 1rem;
}

/* 3. כרטיסים */
.cardsArea {
    grid-area: cards;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    overflow: hidden;
    gap: 1px;
}


.cardWrapper {
    width: 47%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
}